[access "refs/*"]
	read = group ivi-multimedia
	abandon = group ivi-multimedia
	create = group ivi-multimedia
	forgeAuthor = group ivi-multimedia
	forgeCommitter = group ivi-multimedia
	push = +force group ivi-multimedia
	pushMerge = group ivi-multimedia
	pushTag = +force group ivi-multimedia
	pushSignedTag = group ivi-multimedia
	label-Code-Review = -2..+2 group ivi-multimedia
	label-Verified = -1..+1 group ivi-multimedia
	rebase = group ivi-multimedia
	removeReviewer = group ivi-multimedia
	submit = group ivi-multimedia
	editTopicName = group ivi-multimedia
[access]
	inheritFrom = scm/acls/domain_automotive
[project]
	state = active
